body {
 background: #f8f8f8;
 color: #333;
 font-family: Helvetica;
 letter-spacing: 0.15em;
 width: 600px;
 margin: 0 auto;
}

h1 {
 font-weight: 300;
 margin: 0;
 margin-top: 35px;
 padding: 0;
}

p {
 font-size: 1.4em;
}
