@font-face {
  font-family: 'Lazer84';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Lazer84.woff2') format('woff2');
}

body {
  background: #201535;
  color: #FFF;
  font-family: 'OpenSans', Helvetica;
  letter-spacing: 0.15em;
  width: 100%;
  margin: 0 40px;
}

h1 {
  font-weight: 300;
  margin: 0;
  margin-top: 35px;
  padding: 0;
  font-size: 60px;
  color: #C22B65;
  font-family: 'Lazer84', 'OpenSans', Helvetica;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 1.4em;
}

.container {
  display: flex;
}

select {
  letter-spacing: 0.1em;
  font-family: Helvetica;
}

.code {
  width: 50%;
  letter-spacing: 0.1em;
  font-family: Helvetica;
  background: #C22B65;
  padding: 10px 0 20px 25px;
  margin-top: 50px;
  height: 10%;
}

.example {
  background: #150e23;
  padding: 80px 20px;
  text-align: center;
  width: 40%;
}

.poster img {
  width: 240px;
}

pre {
  font-family: Helvetica;
}

.link {
  color: #FFF;
  text-decoration: none;
  font-family: 'Lazer84', 'OpenSans', Helvetica;
  font-size: 20px;
  transition: all 300ms ease;
}

.link:hover {
  color: #C22B65;
}
